footer {
    background: #6D0000;
    color: #FFF;
    font-weight: bold;
}

footer a {
    color: #FFF;
    transition: ease-out 0.2s;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: rgb(172, 172, 172);
    transition: ease-out 0.2s;
}

footer img {
    width: 2rem;
}

.copyright_egg {
    border: none;
    background: transparent;
    color: #FFF;
    font-weight: bold;
    padding: none;
    margin-right: -5px;
}

.copyrights {
    cursor: pointer;
}

footer .copyrights:hover .copyright_egg,
footer .copyrights:focus .copyright_egg {
    text-decoration: none;
    color: rgb(172, 172, 172);
    transition: ease-out 0.2s;
}

.copyright_egg:hover {
    color: pink !important;
}

.copyright_egg:focus {
    outline: none;
}

.social_links a img{
    transition: all .2s;
}

.social_links a:hover img{
    transition: all .2s;
    transform: scale(1.15);
}