<!-- Footer -->
<footer class="page-footer font-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 text-center">
                <!-- Legal informations -->
                <div class="mt-4">
                    <a href="/">Mentions légales</a>
                </div>
                <div class="mb-4 mt-4">
                    <a href="/">Conditions générales d'utilisation</a>
                </div>
                <!-- Legal informations -->
            </div>
            <div class="col-lg-4 col-12 text-center">
                <!-- Copyright and contact -->
                <div class="footer-copyright mt-4">
                    <a class="copyrights"><button class="copyright_egg">©</button> 2020 Copyright : Gatlinger</a>
                </div>
                <div class="mt-4 mb-4">
                    <a href="/reglement">Règlement</a>
                </div>
                <!-- Copyright -->
            </div>
            <div class="col-lg-4 col-12 text-center">
                <!-- social media -->
                <div class="mt-4">
                    <a [routerLink]="['/contact']">Nous contacter</a>
                </div>
                <div class="social_links mt-4 mb-4">
                    <a href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank" title="Nous retrouver sur facebook" class="pr-3"><img src="../../assets/img/reseaux/facebook.png" alt="Logo facebook" /></a>
                    <a href="https://www.twitter.com/" rel="noopener noreferrer" target="_blank" title="Nous retrouver sur twitter" class="pr-3"><img src="../../assets/img/reseaux/twitter.png" alt="Logo twitter" /></a>
                    <a href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank" title="Nous retrouver sur instagram" class="pr-3"><img src="../../assets/img/reseaux/instagram.png" alt="Logo instagram" /></a>
                    <a href="https://www.youtube.com/" rel="noopener noreferrer" target="_blank" title="Nous retrouver sur youtube" class="pr-3"><img src="../../assets/img/reseaux/youtube.png" alt="Logo youtube" /></a>
                </div>
                <!-- social media -->
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->