<div class="video">
    <iframe width="1100" height="600" src="https://www.youtube.com/embed/KlbLLRdg9u8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>