<div class="jumbotron"></div>


<div class="container text-center" id="discord-invite">
    <div class="row">
        <div class="col-4" id="discord-logo">
            <img class="img-fluid" src="../../assets/img/logo/gatlinger_discord_off.png">
        </div>
        <div class="col-8" id="boutton-invite">
            <br>
            <p class="titre">VOUS AVEZ ÉTÉ INVITÉ À REJOINDRE</p>
            <h4 class="gat">GATLINGER</h4>
            <br>
            <button type="button" class="btn btn-primary">Accepter l'invitation</button>
        </div>
    </div>
</div>
<!--<iframe src="https://discord.com/channels/732271266924462161/743453362703302686" fr/ameborder="0"></iframe>-->