.jumbotron {
  background-color: transparent;
  margin-bottom: -5%;
}

#discord-invite {
  background-image: url("../../assets/img/logo/gatlinger_discord_fde.png");
  background-size: 720px;
  width: 720px;
  p{
    color: white;
    font-weight: bold;
  }
  h4{
    color: white;
  }
  .img-fluid {
    max-width: 100%;
    margin-left: -14%;
    .titre {

    }
    .gat {
    }
  }
}

.btn-primary{
  background-color: #7289da !important;
  border: none;
  transition: ease 0.5s;
  width: 400px;
  vertical-align: bottom;
}

.btn-primary:hover{
  background-color: #5471da !important;
  border: none;
  transition: ease 0.5s;
}