.jumbotron {
    background-color: transparent;
    margin-bottom: -5%;
}

h3 {
    color: #6d0000;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p, ul {
    font-family : Trebuchet MS, sans-serif ;                         /*Police à trouver */
    margin-left: auto;
    margin-right: auto;
    padding : 0px 25px;
    text-align: left;
    // background-color : rgb(204, 204, 204);
    border-radius: 50px;
    font-size: 1.2rem;
    // text-align: justify;
}

ul li {
    list-style-type: '  ➔  ';
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.hidden_box {
    display: flex;
    justify-content: center;
}

.game_btn {
    // #6d0000
    position: absolute;
    padding: 1rem 8rem;
    border: 2px solid rgba(0, 0, 0, 0.01);
    background-color: rgba(0, 0, 0, 0.01);
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    transition: 0.4s ease-out;
    border-radius: 0.3rem;
    justify-content: center;
}

.game_btn:hover,
.game_btn:focus {
    background-color: #FFF;
    color: #6d0000;
    border: 2px solid#6d0000;
    transition: 0.4s ease;
}