<div class="jumbotron"></div>

<div class="pb-5">
    <div class="container">
        <h3>ARTICLE 1 : OBJECTIFS DE NOTRE GROUPE</h3>
        <p>
            Cette association est laïque sans but politique, syndical ou religieux. Elle a pour but de réunir des joueurs francophones à jouer aux jeux-vidéos dans le monde entier par le biais de parties en ligne ou en réseau local. Elle sera donc à l’initiative de créations d'événements comme des tournois, des rassemblements, des matchs face à d'autres groupes etc...
            L’intérêt de cette association est d’offrir à ses adhérents un maximum de possibilités de jeu en ligne ou en réel pour que nos membres puissent s'épanouir au sein d'une famille de joueurs qui partagent la même passion. 

            Le respect, l'humour et la fraternité sont nos mots d'ordre et les valeurs que nous prônons. 
        </p>
    </div>
</div>

<div class="bg-light pb-5 pt-5">
    <div class="container">
        <h3>ARTICLE 2 : ADMISSION</h3>
        <p>
            L’admission à l’association est ouverte à tout public majeur (plus de 18 ans) étant francophone. Nos joueurs sont principalement français mais nous sommes aussi en Belgique, en Suisse et au Canada. 
            Pour nous rejoindre il faudra passer des tests d'intégration effectués par l'équipe d'administration de la Gatlinger. Cette équipe est composée de joueurs actifs du groupe et représente un échantillon de notre association ayant des caractéristiques différentes. Le but de cette équipe est de s'assurer que vous correspondez aux critères que nous recherchons. Par le biais de "parties" en ligne ou en privé, les administrateurs vous poseront des questions visant à vous connaître, le but étant de voir si vous allez vous plaire dans notre groupe et si vous visez les mêmes objectifs de jeu que nous. 
        </p>
    </div>
</div>

<div class="pb-5 pt-5">
    <div class="container">
        <h3>ARTICLE 3 : CONDITIONS DE RECRUTEMENT</h3>
        <ul>
            <li>18 ans minimum</li>
            <li>Micro obligatoire</li>
            <li>Avoir de la discussion</li>
            <li>Être respectueux</li>
            <li>Être convivial</li>
            <li>Parler/écrire dans un français correct</li>
            <li>Jouer dans la bonne humeur, le respect et le calme</li>
            <li>Avoir une vie extérieure et ne pas passer tout son temps sur le jeu (travail, famille ou autres activités de jeux)</li>
            <li>Jouer à des heures raisonnables et éviter le spam de nuit</li>
            <li>Avoir l'envie d'intégrer une équipe, une association, une famille de joueurs passionnés et vouloir s'y investir (rassemblement, événements de jeux, cotisation de groupe, être youtubeur/streameur pour le groupe, régler des problèmes...) S'investir !</li>
            <li>Jouer principalement avec le groupe</li>
            <li>Être humble en jeu et courtois face aux autres groupes ( éviter la rage excessive )</li>
            <li>Avoir un seul groupe/team/association hormis un éventuel groupe avec des amis "IRL"</li>
            <li>Ne pas se plaindre H24 de tout et de rien</li>
        </ul>
    </div>
</div>

<div class="bg-light pb-5 pt-5">
    <div class="container">
        <h3>ARTICLE 4 : INTÉGRATION APRÈS RECRUTEMENT</h3>
        <p>
            Suite à un avis positif de l'équipe d'administration, le joueur passera avec les chefs de groupe pour une "approbation finale". En cas de vote positif, le joueur rejoindra officiellement l'association et aura les même droits et obligations que l'ensemble du groupe. Il pourra notamment rejoindre tous les joueurs sur les réseaux, l'ensemble des discussions comme discord, le site officiel, le groupe Messenger etc... Après approbation, le joueur sera intégré officiellement à l'équipe avec une prise en charge totale. Chaque membre du groupe s'est engagé à respecter les règles et pourra donc aider à l'intégration. 
        </p>
    </div>
</div>

<div class="pb-5 pt-5">
    <div class="container">
        <h3>ARTICLE 5 : COTISATIONS ANNUELLES</h3>
        <p>
            L'association prend de l'ampleur et engendrera des frais. Pour le bon déroulement de nos projets une cotisation sera mise en place pour l'hébergement du site, organisation d'événements en tout genre ( t-shirt, goodies, rassemblements, etc)
        </p>
        <div class="hidden_box text-center">
            <button class="game_btn">Call to action</button>
        </div>
    </div>
</div>