

<h2>Notre serveur CityCube</h2><br>


CityCube,Skyblock creatif survie ⭐️ Farm to Win ⭐️ Economie ⭐️ Quêtes⭐️Event ⭐️Jobs ⭐️Staff Actif<br><br>

💎 Skyblock Farm to Win acceptant la version 1.16.3 premium uniquement !<br>
Serveur en développement constant et toujours à l’écoute des joueurs.<br><br>

<h4>Caractéristiques du serveurs:</h4><br>
⭐️ Mending désactivé avec enchantement<br>
⭐️ Event régulier.<br>
⭐️ Système de Quêtes<br>
⭐️ Event TntRun/Pinata/Find the skull….<br>
⭐️ Grades et kits achetables en jeu (/vip /c).<br>
⭐️ Système de Shop.<br>
⭐️ Citywand Permet de vendre tout vos coffre.<br>
⭐️ Fly et Ile 200×200 Obtenable Ingame.<br>
⭐️ Map entièrement Custom.<br>
⭐️ Mise à jour régulière des serveurs (changelogs site).<br>
⭐️ Forum complet avec news<br><br>

<h4>Rejoins nous vite ! Et venez jouez avec nous:</h4><br>
🎮 play.citycube.fr<br>


🎧 🎤 Discord : https://discord.gg/xxxxxxxxx<br>