.jumbotron {
    background-color: transparent;
    margin-bottom: -5%;
  }


.picsum-img-wrapper {
    text-align: center;
    width: 1200px;
    height: 700px;
}

img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

.carousel-caption {
    text-shadow: 1px 1px 1px black;
}