<div class="jumbotron"></div>
<div class="container" id="carousel">

    <ngb-carousel class="photo">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/img/karting.jpg" alt="Random first slide" width=1200 height=720>
            </div>
            <div class="carousel-caption">
                <h3>Karting</h3>
                <p>Janvier 2019</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/img/paintball.jpg" alt="Random second slide" width=1200 height=720>
            </div>
            <div class="carousel-caption">
                <h3>Karting</h3>
                <p>Mai 2019</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/img/trampolinePark.jpg" alt="Random third slide" width=1200 height=720>
            </div>
            <div class="carousel-caption">
                <h3>Trampoline Park</h3>
                <p>Novembre 2019</p>
            </div>
        </ng-template>
    </ngb-carousel>

</div>


<div class="container" id="album">
    <div class="row">
        <div class="col-md">
            <a href="photos/album2021">
                <img src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="First album">
            </a>
            Album 2021
        </div>
        <div class="col-md">
            <a href="photos/album2020">
                <img src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Second album">
            </a>
            Album 2020
        </div>
        <div class="col-md">
            <a href="photos/album2019">
                <img src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Third album">
            </a>
            Album 2019
        </div>
    </div>
</div>
