<h2>NOTRE CREW<br><br>
    Gatlinger
</h2>

<div class="photo">
    <img src="https://images-ext-1.discordapp.net/external/QPlsbLdJHkaXDA7SE0u9IwBCfnayjVOr5WD2jsUPpwo/https/prod.cloud.rockstargames.com/crews/sc/2832/43500654/publish/emblem/emblem_512.png" alt="##" height="200" width="200">
</div>

<div class="socialclub">
    <a href="https://socialclub.rockstargames.com/crew/gatlinger">
        <button type="button" class="btn btn-outline-primary">Rejoins nous !</button>
    </a>
</div>

<div class="video">
    <iframe width="1100" height="600" src="https://www.youtube.com/embed/hvoD7ehZPcM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>