h2{
    color: rgb(0, 94, 170);
    text-align: center;
}
.photo{
    text-align: center;
    margin-top: 1%;
}
.socialclub{
    text-align: center;
    margin-top: 1%;
}
.video{
    text-align: center;
    margin-top: 1%;
}