textarea {
    resize: none;
    border: black solid 3px;
}

textarea:focus,
textarea:hover {
    outline: none;
    box-shadow: none;
    border: #6d0000 solid 3px;
}

select:focus,
input:focus,
select:hover,
input:hover {
    outline: none;
    box-shadow: none;
    border-bottom: #6d0000 solid 3px;
    transition: ease .4s;
}

input,
select {
    border: none;
    border-bottom: solid black 3px;
    border-radius: 0;
    transition: ease-out .4s;
}

.btn {
    color: #FFF;
    background-color: #6d0000;
    border: solid 2px #6d0000;
    transition: ease-out .4s;
    font-weight: bold;
}

.btn:focus,
.btn:hover {
    color: #6d0000;
    background-color: #FFF;
    transition: ease .4s;
    transform: scale(1.05);
}