<div class="container">
    <div class="row ml-5 mr-5 mt-5 p-3 mb-5 rounded">
        <div class="col-12">
            <p class="h3 ml-5 mr-5 mb-5 mt-2">
                Envoyez nous un Email via le formulaire ci-dessous pour obtenir d'avantages de renseignements ou pour toute autre
                demande.
            </p>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label class="h6" for="subject">Sujet de votre email</label>
                <select class="form-control" name="subject" id="subject">
                    <option value="" disabled>Sélectionner</option>
                    <option value="recruitment">Recrutement</option>
                    <option value="infos">Renseignements</option>
                    <option value="tournaments">Tournois</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 v">
            <div class="form-group">
                <label class="h6" for="email">Votre adresse Email</label>
                <input type="text" id="email" class="form-control" placeholder="exemple@exemple.fr" />
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="form-group">
                <label class="h6" for="description">Votre demande</label>
                <textarea class="form-control" name="description" id="description" rows="8" placeholder="Explicitez votre demande. . ."></textarea>
            </div>
        </div>
        <div class="col-lg-8 mb-2 mt-4"></div>
        <div class="col-lg-4 mb-2 mt-4 text-right">
            <div class="form-group">
                <button type="submit" class="btn pl-5 pr-5">Envoyer</button>
            </div>
        </div>
    </div>
</div>