.jumbotron {
  background-color: transparent;
  margin-top: -5%;
}


@media screen and (max-width: 991px) {
  #lanav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #botNSmall {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #menuSideN {
    display: none;
  }
}

#botNSmall {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  img {
    width: 50px;
    transition: 0.5s;
  }
  img:hover{
    width: 70px;
    transition: 0.3s;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

}

// Cookies Banner

// .cookie-banner {
//   position: fixed;
//   bottom: 5%;
//   right: 5%;
//   left: 5%;
//   text-align: center;
//   z-index: 100000;
//   padding: 1%;
//   box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.4);
//   border-radius: 35px;
  
//   .cookie-banner-text {
//     font-weight: 700;
//     font-size: 1.2em;
//   }

//   .cookie-banner-button {
//     color: #FFF;
//     background-color: #6d0000;
//     border: 2px solid #6d0000;
//     padding: 2% 5%;
//     border-radius: 25px;
//     font-weight: 600;
//     transition: ease .4s;
//   }

//   .cookie-banner-button:hover {
//     color: #6d0000;
//     background-color: #FFF;
//     transition: ease .4s;
//     outline: none;
//   }

//   .cookie-banner-button:focus {
//     outline: none;
//   }
// }