<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Nos Jeux</h1>

    <div class="tableau text-center">
        <div class="row mt-4">
            <div class="col">
                <a href="/jeux/csgo">
                    <img src="../../assets/img/csgo.jpg" alt="Counter-Strike: Global Offensive"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/callofduty">
                    <img src="../../assets/img/callofduty.jpg" alt="call of duty"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/destiny2">
                    <img src="../../assets/img/destiny2.jpg" alt="destiny 2"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/rocketleague">
                    <img src="../../assets/img/rl.jpg" alt="rocket league"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/gta5">
                    <img src="../../assets/img/gta5.jpg" alt="gta5"height="260" width="190">
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <a href="/jeux/minecraft">
                    <img src="../../assets/img/Minecraft.jpg" alt="Minecraft"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/rainbowsixsiege">
                    <img src="../../assets/img/rainbowsixsiege.jpg" alt="rainbow six siege"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/warzone">
                    <img src="../../assets/img/warzone.jpg" alt="Warzone"height="260" width="190">
                </a>
            </div>
            <div class="col">
                <a href="/jeux/coldwar">
                    <img src="../../assets/img/coldwar.jpg" alt="Cold War"height="260" width="190">
                </a>
            </div>
        </div>
    </div>

</div>
