.jumbotron {
  background-color: transparent;
  margin-bottom: -5%;
}

.col img{
    border: 1px solid rgb(0, 0, 0);  
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}

.opacity1 div img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.col :hover img {
  opacity: .5;
}