.jumbotron {
    background-color: transparent;
    margin-bottom: -5%;
  }


.picsum-img-wrapper {
    text-align: center;
}

img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.col-3 {
    padding-bottom: 50px;
}

#modal {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 10000;
    margin: auto;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.closeButton {
    border: 2px solid #ba0000;
    font-size: 18px;
    color: #FFF;
    background-color: #ba0000;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 60px;
    margin-top: 10px;
    transition: 0.4s ease-out;
}

.closeButton:hover,
.closeButton:focus {
    color: #ba0000;
    background-color: #FFF;
    transition: 0.4s ease;
}