<div class="jumbotron"></div>
<div class="container" id="carousel">
</div>


<div class="container" id="album">
    <div class="zoom">
        <div class="row">
            <div class="col-3" id="slide1">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')" 
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="First image">
                Image 1
            </div>
            <div class="col-3" id="slide2">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')" 
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Second image">
                Image 2
            </div>
            <div class="col-3" id="slide3">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')" 
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Third image">
                Image 3
            </div>
            <div class="col-3" id="slide4">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Fourth image">
                Image 4
            </div>
            <div class="col-3" id="slide5">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Fifth image">
                Image 5
            </div>
            <div class="col-3" id="slide6">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Sixth image">
                Image 6
            </div>
            <div class="col-3" id="slide7">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Seventh image">
                Image 7
            </div>
            <div class="col-3" id="slide8">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Eighth image">
                Image 8
            </div>
            <div class="col-3" id="slide9">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Ninth image">
                Image 9
            </div>
            <div class="col-3" id="slide10">
                <img (click)="openModal('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg')"
                    src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"
                    alt="Tenth image">
                Image 10
            </div>
        </div>
    </div>
</div>

<div id="modal">
    <div class="row" style="margin: auto; justify-content: center;">
        <div id="content" class="col-12">
            
        </div>
        <div class="col-12">
            <button (click)="closeModal()" class="closeButton">
                Fermer
            </button>
        </div>
    </div>
</div>