/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f5f5f5;
}
  
::-webkit-scrollbar{
    width: 9px;background-color: #f5f5f5;
}
  
::-webkit-scrollbar-thumb{
    background-color: #6D0000;
}