.jumbotron {
  background-color: transparent;
  margin-bottom: -5%;
}

.organigramme {
  text-align: center;
  p {
    margin-left : 40px;
    margin-bottom: 20px;
  }
  .rounded-circle {
    margin-left : 40px;
    margin-bottom: 20px;
  }
    
  }




.container {
 
  font-family : Trebuchet MS, sans-serif;                     /*Police à trouver */
  //margin-left: auto;
  //margin-right: auto;
  //padding-left: 50px;
  //padding-right: 50px;
  //padding-top: 10px;
  //text-align: left;
  //font-size: xx-large;
  color : rgb(43, 43, 87);
  //width: 1350px;
  //height : 1635px;
  border-radius: 5px;

  
}

#information{
  font-family : Trebuchet MS, sans-serif ;                         /*Police à trouver */
  margin-left: auto;
  margin-right: auto;
  padding : 0px 25px;
  text-align: left;
  // background-color : rgb(204, 204, 204);
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: justify;
}

.rencontre-txt {
  font-size: 1.2rem;
  padding : 0px 25px;
}

.picsum-img-wrapper {
  text-align: center
}

.photo {
  height : 75%;
  width : 75%;
  margin: auto;
}

.carousel {
  display: flex;
}

h3.title {
  color: #6d0000;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cookie-banner {
  position: fixed;
  bottom: 5%;
  right: 5%;
  left: 5%;
  text-align: center;
  z-index: 100000;
  padding: 1%;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  
  .cookie-banner-text {
    font-weight: 700;
    font-size: 1.2em;
  }

  .cookie-banner-button {
    color: #FFF;
    background-color: #6d0000;
    border: 2px solid #6d0000;
    padding: 2% 5%;
    border-radius: 25px;
    font-weight: 600;
    transition: ease .4s;
  }

  .cookie-banner-button:hover {
    color: #6d0000;
    background-color: #FFF;
    transition: ease .4s;
    outline: none;
  }

  .cookie-banner-button:focus {
    outline: none;
  }
}