<div class="jumbotron"></div>

<div class="organigramme">
    <img src= "../../assets/img/visageOrga.jpg" id ="createur" class="rounded-circle" alt="" width="80">
    <p> Créateur</p>
    <div class="orgaL2">
        <img src= "../../assets/img/visageOrga.jpg" class="rounded-circle" alt="" width="80"> 
        <img src= "../../assets/img/visageOrga.jpg" class="rounded-circle" alt="" width="80">
        <img src= "../../assets/img/visageOrga.jpg" class="rounded-circle" alt="" width="80">
        <img src= "../../assets/img/visageOrga.jpg" class="rounded-circle" alt="" width="80">
    </div>
    <div class="orgaL3">
        <img src= "../../assets/img/visageOrga.jpg"  class="rounded-circle" alt="" width="80"> 
        <img src= "../../assets/img/visageOrga.jpg"  class="rounded-circle" alt="" width="80">
        <img src= "../../assets/img/visageOrga.jpg"  class="rounded-circle" alt="" width="80">
        <img src= "../../assets/img/visageOrga.jpg"  class="rounded-circle" alt="" width="80">
        <p> Admins</p>
    </div>

</div>

<div class="container">
    <div class="information">
        <h3 class="title"> Qui sommes nous : </h3>
        <p id="information">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
        using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web
        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
        sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
            purpose (injected humour and the like).</p>
    </div>

    <div class="rencontre">
        <h3 class="title"> Rencontre : </h3>
        <p class="rencontre-txt">
            Nous organisons des rencontres 1 à 3 fois par ans, tout dépend du nombre de personnes. Nous faisons des activités de
            groupe tel que le paintball, le karting, le trampoline park, ect...
        </p>
    </div>

    <h3 class="title pt-4 pb-5"> Nos photos : </h3>
    <div class="carousel">
        <ngb-carousel class="photo">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/img/karting.jpg" alt="Random first slide" width = 1200 height = 720 >
                </div>
                <div class="carousel-caption">
                    <h3>Karting</h3>
                    <p>Janvier 2019</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/img/paintball.jpg" alt="Random second slide" width = 1200 height = 720 >
                </div>
                <div class="carousel-caption">
                    <h3>Karting</h3>
                    <p>Mai 2019</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../assets/img/trampolinePark.jpg" alt="Random third slide" width = 1200 height = 720 >
                </div>
                <div class="carousel-caption">
                    <h3>Trampoline Park</h3>
                    <p>Novembre 2019</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>





